{% extends "BossCustomerBundle::account.html.twig" %}
{% block bundle %}
    <div class="jumbotron">
        Mettre un résumé des informations.
        Si des informations sont manquantes, proposer de compléter les informations
        Si toutes les informations sont remplis (proposer de
        générer le bon de commande).
        > Puis suivrons la demande de paiement paypal > La génération de la fature en .pdf
    </div>
{% endblock%}